<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
      
    <h1> URL Shortener Microservice </h1>
    <h5>
      By: <a href="http://www.michaelsantana.me"><em>Michael Santana</em></a>
    </h5>
    
    <div>
      <h2>
        Example Usage:
      </h2>
      <h3>
        https://ms-urlshort.glitch.me/new/https://www.google.com
      </h3> 
      <h3>
        https://ms-urlshort.glitch.me/new/https://www.facebook.com
      </h3>
      <br>
      <h2>
        Example Output:
      </h2>
      <h3>
        {"original_url":"https://www.google.com","short_url":"https://ms-urlshort.glitch.me/3476"}
      </h3>
      <br>
      <h2>
        Copy link in "short_url" field which will redirect you to the "original_url".
      </h2>
      
    </div>
    
    
    
    
      
    
    
    
    
    <script src="/client.js"></script>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
